<launch>
    <arg name="message_display" default="screen" doc="output type"/>
    <arg name="video_device" default="/dev/video0"/>
    <arg name="framerate" default="30"/>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="$(arg message_display)">
        <param name="video_device" value="$(arg video_device)"/>
        <param name="framerate" value="$(arg framerate)"/>
        <!-- <param name="image_width" value="320"/>
        <param name="image_height" value="240"/> -->
        <param name="image_width" value="640"/>
        <param name="image_height" value="480"/>
        <!-- <param name="image_width" value="1280"/>
        <param name="image_height" value="960"/> -->
        <param name="pixel_format" value="yuyv"/>
        <param name="color_format" value="yuv422p"/>
        <param name="camera_frame_id" value="usb_cam"/>
        <param name="io_method" value="mmap"/>
    </node>
</launch>